<div class="h-100 row align-items-center">
    <div class="backgroundBlue d-flex align-items-center">  
        <svg class="whiteCircle">
            <circle cx="33.25vw" cy="10vw" r="5vw" shape-rendering="geometricPrecision" fill="white"/>
            <circle cx="33.25vw" cy="10vw" r="4vw" shape-rendering="geometricPrecision" fill="#31809F"/>
        </svg>
        <a routerLink="/content/home" class="d-flex align-items-center justify-content-center  ">
            <img src="./assets/static-website/EnsembleLogo.svg" width="10vw" class="logo">
        </a>
        <div class="font enhancingDiv text-center">
            <div class="enchancingText bottomPadding2">
                Enhancing
            </div>
            <div class="enchancingText">
                Experiences
            </div>
        </div>
    </div>
    <div class="col-4 h-100 row justify-content-center font">
        <div class="justify-content-center">
            <div class="roomPixelArt">

            </div>
        </div>
    </div>
    <div class="col-8 justify-content-center font">
        <div class="row justify-content-around align-items-center">
            <div class="featureCard  row align-items-center justify-content-center">
                <form class="loginText row align-items-center">
                    <div class="form-group row justify-content-center bottomPadding1">
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="First name" required>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center bottomPadding1">
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Last name" required>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center bottomPadding1">
                        <div class="col-10">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center bottomPadding1">
                        <div class="col-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center bottomPadding1">
                        <div class="col-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="text-center font">
                        <button type="submit" class="btn btn-primary">REGISTER</button>
                    </div>
                </form>
                <div class="registerLink text-center">
                    Returning user? <a class="darkText" routerLink="/content/login">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
