/*-----------------------shared css-----------------------*/
// shared font
.font {
    font-family: 'Poppins';
    font-style: normal;
}

//bottom padding
.bottomPadding {
    padding-bottom: 3vw;
}

//top padding
.topPadding {
    padding-top: 1vw;
}

//hightlight for words
.blueFont {
    color: #31809F;
}

//remove appended x-coord space from row class
.row {
    --bs-gutter-x: 0;
}
/*-----------------------shared css-----------------------*/

/*-----------------------landing section-----------------------*/
//top text for landing section
.landingDiv div h3 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2vw;
    text-shadow: 0 0 0.25vw rgba(17, 17, 17, 0.5), 0 0 0.5vw rgba(17, 17, 17, 0.5), 0 0 0.75vw rgba(17, 17, 17, 0.5);
    text-align: center;
    margin: 0 0 0vw;
    height: 3vw;
}

//bottom text for landing section
.text1 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1vw;
    text-shadow: 0 0 0.25vw rgba(17, 17, 17, 0.5), 0 0 0.5vw rgba(17, 17, 17, 0.5), 0 0 0.75vw rgba(17, 17, 17, 0.5);
    text-align: center;
    margin: 0 0 0vw;
    padding-top: 1vw;
    height: 3vw;
}

//landing background section
.landingDiv  {
    min-height: 100%;
    //background image 
    background-image: url('/assets/static-website/nightbar.jpg');
    //background tint
    background-color: rgba(49, 128, 159, 0.5);
    background-blend-mode: multiply;
    //make background responsive
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

//make button responsive
.btn {
    border-radius: 1vw;
    width: 6.5vw;
    height: 2vw;
    font-size: 0.8vw;
    line-height: 0;
    padding: 0.5vw;
    border: 0.01vw solid white;
}
/*-----------------------landing section-----------------------*/


/*-----------------------banner section-----------------------*/
//banner background section
.bannerBackground {
    height: 27.5vw;
    position: relative;
    background: conic-gradient(from 134.12deg at 49.24% 34.49%, rgba(49, 128, 159, 0.2) -181.88deg, #31809F 0.86deg, rgba(49, 128, 159, 0.847644) 44.32deg, rgba(49, 128, 159, 0.2) 178.12deg, #31809F 360.86deg);
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

//Ensemble text for banner
.bannerBackground div div h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 3vw;
    text-shadow: 0 0 5px rgba(17, 17, 17, 0.25), 0 0 10px rgba(17, 17, 17, 0.25), 0 0 15px rgba(17, 17, 17, 0.25);
    height: 3vw;
    margin: 0 0 0vw;
    text-align: center;
}

//Ensemble logo
.logo {
    align-items: center;
    width: 10vw;
}
/*-----------------------banner section-----------------------*/


/*-----------------------hook section-----------------------*/
//white background for hook section
.backgroundWhite {
    height: 27.5vw;
    background-color: white;
}

//top text for hook section
.backgroundWhite div div h3 {
    color: #111111;
    font-weight: 600;
    font-size: 3vw; 
    height: 3vw;
    margin: 0 0 0vw;
    padding-bottom: 1vw;
}

//question text for hook section
.questionText {
    font-weight: 600;
    font-size: 1vw; 
    height: 2vw;
    margin: 0 0 0vw;
}

//bottom text for hook section
.text2 {
    font-weight: 600;
    font-size: 1vw; 
    height: 1vw;
    margin: 0 0 0vw;
    padding-top:3vw;
}

//hook section pixel art
.hookPixelArt {
    height: 20vw;
    width: 100%;    
}
/*-----------------------hook section-----------------------*/


/*-----------------------introduction section-----------------------*/
//grey background for intro section
.backgroundGrey1 {
    height: 100%;
    background-color: #F2F2F2;
}

//product text for intro section
.productText {
    font-size: 1vw;
    height: 1vw;
    margin: 0 0 0vw;
}

//header for ensemble/feature name
.backgroundGrey1 div div h3,
.backgroundGrey2 div div h3 {
    font-size: 3vw;
    height: 3vw;
    margin: 0 0 0vw;

}

//bottom text for intro section
.introText {
    font-size: 1.5vw;
    height: 2vw;
    margin: 0 0 0vw;
}

//intro section pixel art
.introPixelArt {
    width: 70%;
    height:20vw;
}
/*-----------------------introduction section-----------------------*/


/*-----------------------features section-----------------------*/
//grey background for feature section to give feature cards equal space between them
.backgroundGrey2 {
    height:100%;
    margin-top: -5%;
    background-color: #F2F2F2;
}

//feature pixel art
.featurePixelArt {
    width: 70%;
    height: 40vh;
    display:block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
}

//card layout for each feature
.featureCard {
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 1.5vw;
    box-shadow: 0px 0.2vw 0.5vw rgba(0, 0, 0, 0.5);
}
/*-----------------------features section-----------------------*/


/*-----------------------many more text section-----------------------*/
//grey background for many more text
.manymoreDiv {
    background-color: #F2F2F2;
}

//many more text
.manymoreDiv div h3 {
    font-size: 3vw;
    min-height: 5vw;
    width:100%;
    text-align: center;
}
/*-----------------------many more text section-----------------------*/


/*-----------------------call to action section-----------------------*/
//movie screen card
.movieScreen {
    background-color: white;
    min-height: 30vw;
    width: 50%;
    border-radius: 1.5vw;
    box-shadow: 0px 0.2vw 0.5vw rgba(0, 0, 0, 0.5);
}   

//background for call to action section
.backgroundTheatre {
    min-height: 100%;
    width: 100%;
    background-image: url("/assets/static-website/movietheatre.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/*-----------------------call to action section-----------------------*/