<app-navbar></app-navbar>

<div class="landingDiv font">
    <div class="text1">
        <h3>Dive into the most interactive conference you ever had, but with a twist.</h3>
    </div>
    <div class="text2">See how you can start or participate in a virtual conference.</div>
    <div></div>
</div> 

<div class="bannerDiv" (scroll)="onWindowScroll();">   
    <img src="./assets/static-website/Ensemble Logo white.svg" width="100px" class="logo">
    <div class="font bannerText">Ensemble</div>
</div>

<div class="hookDiv">
    <div class="font backgroundWhite">
        <div class="hookText">
            <div class="text3 font">Adding the connection <br> back into conventions</div>
            <div class="questionText">
                <span class="brPadding1"></span>
                Missed live interaction with people?
                <span class="brPadding1"></span> 
                Felt attending events aren’t as fun anymore?
                <span class="brPadding1"></span> 
                Craved the human element in gatherings?
                <span class="brPadding1"></span> 
                <span class="brPadding1"></span> 
                <span class="brPadding1"></span>
                Ensemble is here to change that.
            </div>
        </div>
        <div class="hookPixelArtDiv">
            <img src="/assets/static-website/E5E5E5.jpg" class="hookPixelArt">
        </div>
    </div>
</div>

<div class="introDiv">
    <div class="font backgroundGrey">
        <div class="text4">
            <div class="smallText">PRODUCT</div>
            <div class="largeText">ENSEMBLE</div>
            <div class="mediumText">
                Ensemble is our attempt at building a virtual convention
                <span class="brPadding2"></span> 
                experience without sacrificing the human connection.
            </div>
        </div>
        <div class="introPixelArtDiv">
            <img src="/assets/static-website/E5E5E5.jpg" class="introPixelArt">
        </div>
        <div class="mediumText" style="text-align:center">
            Ever since massive events and gatherings were prohibited due
            <span class="brPadding2"></span>
            to the pandemic, we want everyone to have the chance to get
            <span class="brPadding2"></span>
            back together and enjoy what they love doing, safely.
        </div>
    </div>
</div>

<div class="featuresDiv">
    <div class="font backgroundGrey">
        <div class="featureCard">
            <div class="text4">
                <div class="smallText">FEATURE</div>
                <div class="largeText">REAL-TIME EXPERIENCE</div>
                <div class="mediumText">
                    Create virtual rooms to host hundreds of attendees, whether
                    <span class="brPadding2"></span>
                    that be for a tech convention, a school’s open house or just a
                    <span class="brPadding2"></span>
                    birthday party.
                </div>
            </div>
            <div class="featurePixelArtDiv">
                <img src="/assets/static-website/E5E5E5.jpg" class="featurePixelArt">
            </div>
        </div>
    </div>
    <div class="font backgroundGrey">
        <div class="featureCard">
            <div class="text4">
                <div class="smallText">FEATURE</div>
                <div class="largeText">QUICKLY DESIGN LAYOUTS</div>
                <div class="mediumText">
                    Looking to quickly design the convention layout and enhance
                    <span class="brPadding2"></span>
                    the experience? We’ve got the tools to get you up and running.
                </div>
            </div>
            <div class="featurePixelArtDiv">
                <img src="/assets/static-website/E5E5E5.jpg" class="featurePixelArt">
            </div>
        </div>
    </div>
    <div class="font backgroundGrey">
        <div class="featureCard">
            <div class="text4">
                <div class="smallText">FEATURE</div>
                <div class="largeText">INTERACTABLE PANELS</div>
                <div class="mediumText">
                    Let attendees discover on their own. Setup brochures, links and
                    <span class="brPadding2"></span>
                    even videos to display in your booths or panels.
                </div>
            </div>
            <div class="featurePixelArtDiv">
                <img src="/assets/static-website/E5E5E5.jpg" class="featurePixelArt">
            </div>
        </div>
    </div>
    <div class="font backgroundGrey">
        <div class="featureCard">
            <div class="text4">
                <div class="smallText">FEATURE</div>
                <div class="largeText">REALISTIC COMMUNICATION</div>
                <div class="mediumText">
                    Strike up a conversation with any fellow attendees. Take it
                    <span class="brPadding2"></span>
                    further by participating in a live discussion or conference,
                    <span class="brPadding2"></span>
                    just like in real life.
                </div>
            </div>
            <div class="featurePixelArtDiv">
                <img src="/assets/static-website/E5E5E5.jpg" class="featurePixelArt">
            </div>
        </div>
    </div>
</div>

<div class="manymoreDiv">
    <div class="font manymoreText">AND MANY MORE...</div>
</div>

<div class="font backgroundTheatre">
    <div class="movieScreen">
        <div class="text5">
            <div class="largeText">Join us today!</div>
            <span class="brPadding1"></span> 
            <span class="brPadding1"></span> 
            <span class="brPadding1"></span>
            <div class="mediumText">Experience a digital realm unlike any others.</div>
        </div>
    </div>
</div>

<app-footer></app-footer>
