<app-navbar></app-navbar>

<div class="landingDiv row align-items-center">
    <div>
        <div>
            <h3 class="font">
                Dive into the most interactive
            </h3>
        </div>
        <div>
            <h3 class="font">
                conference you ever had, but
            </h3>
        </div> 
        <div>
            <h3 class="font">
                with a twist.
            </h3>
        </div>
        <div class="font text1">
            See how you can start or participate in a virtual conference.
        </div>
        <div class="text-center">
            <a routerLink="/content/register">
                <button type="button" class="btn btn-outline-light">Get Started</button>
            </a>
        </div>
    </div>
</div>

<div class="bannerBackground font row align-items-center">
    <div>
        <div>
            <img src="./assets/static-website/EnsembleLogo.svg" width="10vw" class="logo mx-auto d-block">
        </div>
        <div>
            <h3 class="font">
                Ensemble
            </h3>
        </div> 
    </div>
</div>

<div class="backgroundWhite row justify-content-around align-items-center">
    <div class="col-5 row justify-content-center font">
        <div>
            <h3 class="font">
                Adding the <span class="blueFont">connection</span>
            </h3>
        </div>
        <div class="bottomPadding">
            <h3 class="font">
                back into conventions
            </h3>
        </div> 
        <div class="questionText pb-1">
            Missed live interaction with people?
        </div>
        <div class="questionText pb-1">
            Felt attending events aren’t as fun anymore?
        </div>
        <div class="questionText pb-1">
            Craved the human element in gatherings?
        </div>
        <div class="text2">
            Ensemble is here to <span class="blueFont ">change</span> that.
        </div>
    </div>
    <div class="col-5">
        <div class="justify-content-center">
            <img src="/assets/static-website/E5E5E5.jpg" class="hookPixelArt">
        </div>
    </div>
</div>

<div class="backgroundGrey1 row justify-content-around align-items-center">
    <div class="col-8 row justify-content-center font">
        <div class="productText">
            PRODUCT
        </div>
        <div class="ensembleText topPadding">
            <h3 class="blueFont font">
                ENSEMBLE
            </h3>
        </div> 
        <div class="introText">
            Ensemble is our attempt at building a virtual convention
        </div>
        <div class="introText">
            experience without sacrificing the human connection.
        </div>
    </div>
    <div>
        <div class="justify-content-center">
            <img src="/assets/static-website/E5E5E5.jpg" class="introPixelArt mx-auto d-block">
        </div>
    </div>
    <div class="font col-8 row justify-content-center">
        <div class="introText text-center">
            Ever since massive events and gatherings were prohibited due
        </div>
        <div class="introText text-center">
            to the pandemic, we want everyone to have the chance to get 
        </div>
        <div class="introText text-center">
            back together and enjoy what they love doing, <span class="blueFont ">safely</span>. 
        </div>
    </div>
</div>

<div class="backgroundGrey1 row justify-content-around align-items-center">
    <div class="featureCard row justify-content-around align-items-center">
        <div class="col-8 row justify-content-center font">
            <div class="productText">
                FEATURE
            </div>
            <div class="ensembleText topPadding">
                <h3 class="blueFont font">
                    REAL-TIME EXPERIENCE
                </h3>
            </div> 
            <div class="introText">
                Create virtual rooms to host hundreds of attendees, whether
            </div>
            <div class="introText">
                that be for a tech convention, a school’s open house or just a
            </div>
            <div class="introText">
                birthday party.
            </div>
        </div>
        <div>
            <div class="justify-content-center">
                <img src="/assets/static-website/E5E5E5.jpg" class="introPixelArt mx-auto d-block">
            </div>
        </div>
    </div>
</div>
<div class="backgroundGrey2 row justify-content-around align-items-center">
    <div class="featureCard row justify-content-around align-items-center">
        <div class="col-8 row justify-content-center font">
            <div class="productText">
                FEATURE
            </div>
            <div class="ensembleText topPadding">
                <h3 class="blueFont font">
                    QUICKLY DESIGN LAYOUTS
                </h3>
            </div> 
            <div class="introText">
                Looking to quickly design the convention layout and enhance
            </div>
            <div class="introText">
                that be for a tech convention, a school’s open house or just a
            </div>
            <div class="introText">
                birthday party.
            </div>
        </div>
        <div>
            <div class="justify-content-center">
                <img src="/assets/static-website/E5E5E5.jpg" class="introPixelArt mx-auto d-block">
            </div>
        </div>
    </div>
</div>
<div class="backgroundGrey2 row justify-content-around align-items-center">
    <div class="featureCard row justify-content-around align-items-center">
        <div class="col-8 row justify-content-center font">
            <div class="productText">
                FEATURE
            </div>
            <div class="ensembleText topPadding">
                <h3 class="blueFont font">
                    INTERACTABLE PANELS
                </h3>
            </div> 
            <div class="introText">
                Let attendees discover on their own. Setup brochures, links and
            </div>
            <div class="introText">
                even videos to display in your booths or panels.
            </div>
        </div>
        <div>
            <div class="justify-content-center">
                <img src="/assets/static-website/E5E5E5.jpg" class="introPixelArt mx-auto d-block">
            </div>
        </div>
    </div>
</div>
<div class="backgroundGrey2 row justify-content-around align-items-center">
    <div class="featureCard row justify-content-around align-items-center">
        <div class="col-8 row justify-content-center font">
            <div class="productText">
                FEATURE
            </div>
            <div class="ensembleText topPadding">
                <h3 class="blueFont font">
                    REALISTIC COMMUNICATION
                </h3>
            </div> 
            <div class="introText">
                Strike up a conversation with any fellow attendees. Take it
            </div>
            <div class="introText">
                further by participating in a live discussion or conference,
            </div>
            <div class="introText">
                just like in real life.
            </div>
        </div>
        <div>
            <div class="justify-content-center">
                <img src="/assets/static-website/E5E5E5.jpg" class="introPixelArt mx-auto d-block">
            </div>
        </div>
    </div>
</div>

<div class="manymoreDiv row align-items-center">
    <div>
        <h3 class="font">
            AND MANY MORE...
        </h3>
    </div>
</div>

<div class="backgroundTheatre row justify-content-around align-items-center">
    <div class="movieScreen row justify-content-around align-items-center">
        <div class="row justify-content-center font">
            <div class="introText text-center bottomPadding">
                Join us today!
            </div>
            <div class="introText text-center topPadding">
                Experience a digital realm unlike any others
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->
