<!-- <mat-drawer-container class="nav-drawer-container" autosize>
    <mat-drawer #drawer mode="side" opened></mat-drawer>
    <mat-drawer-content>
        
        <div class="profile-section">
            <div class="row justify-content-center"><img class="profile-pic col-md-12" src="../../../../assets/static-website/Ensemble Logo white.svg" alt="Profile Picture"></div>
            <div class="row person-name justify-content-center">John Smith</div>
            <div class="row person-username justify-content-center">@JohnSmith</div>
        </div>

        <hr class="row solid">

        <div class="navigation-section row">
            <div class="nav-item row">
                <div class="col-md-2"></div>
                <div class="col-md-2">Hello</div>
                <div class="nav-item-name col-md-6">Home</div>
                <div class="col-md-2"></div>
            </div>
        </div>

    </mat-drawer-content>
 </mat-drawer-container> -->

<div class="nav-drawer-container">
    <div class="row justify-content-center profile-pic-container"><img class="profile-pic" src="../../../../assets/static-website/Ensemble Logo white.svg" alt="Profile Picture"></div>
    <div class="row person-name justify-content-center">John Smith</div>
    <div class="row person-username justify-content-center">@JohnSmith</div>
    <hr class="row solid align-items-center">
    <div class="nav-drawer-container">
        <div class="row nav-item">
            <div class="row nav-icon offset-lg-2"></div>
        </div>
    </div>
</div>