   <section class="event-slider">
        <!-- <div class="container-fluid"> -->
            <div class="slider-wrap">
                <div class="slider-main">

                    <div class="event-item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="./assets/dashboard/starbucks.svg" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title"> Starbucks Confrence</h3>
                                <span class="badge badge-pill badge-primary">Primary</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="event-item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="./assets/dashboard/tesla.svg" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Tesla Gigafactory Grand Tour</h3>
                            </div>
                        </div>
                        
                    </div>
    
                    <div class="event-item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="./assets/dashboard/starbucks.svg" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title"> Starbucks Confrence</h3>
                            </div>
                        </div>
                    </div>

                    <div class="event-item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="./assets/dashboard/starbucks.svg" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Starbucks Confrence</h3>
                            </div>
                        </div>
                    </div>

                    <div class="event-item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="./assets/dashboard/starbucks.svg" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Starbucks Confrence</h3>
                            </div>
                        </div>
                    </div>

                    <div class="event-item">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="./assets/dashboard/starbucks.svg" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Starbucks Confrence</h3>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="button-area">
                    <button type="button" class="prev" appPrev> <img src="./assets/dashboard/bi-caret-left-fill.svg" style="width: 50px; height: 50px;"/> </button>
                    <button type="button" class="next" appNext> <img src="./assets/dashboard/bi-caret-right-fill.svg" style="width: 50px; height: 50px;"/> </button>
                </div>

            </div>
        <!-- </div> -->
    </section>