<app-navbar></app-navbar>

<div class="backgroundWhite row justify-content-around align-items-center">
    <div class="featureCard row justify-content-around align-items-center">
        <div class="col-3 row justify-content-center font">
            <div class="justify-content-center">
                <img src="/assets/static-website/EnsembleLogo.svg" class="logo mx-auto d-block">
            </div>
        </div>
        <div class="col-8 row justify-content-center font text-center">
            <div class="bottomPadding">
                <h3 class="whiteFont font d-flex justify-content-center align-items-center">
                    OUR MISSION
                </h3>
            </div> 
            <div class="introText d-flex justify-content-center align-items-center">
                Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="introText d-flex justify-content-center align-items-center">
                adipiscing elit, sed do eiusmod tempor
            </div>
            <div class="introText d-flex justify-content-center align-items-center">
                incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="introText d-flex justify-content-center align-items-center">
                Laoreet id donec ultrices tincidunt arcu.
            </div>
        </div>
    </div>
</div>

<div class="backgroundGrey row justify-content-around align-items-center">
    <div class="col-6 row justify-content-center font divRelative">
        <div class="row justify-content-center align-items-center">
            <img src="/assets/static-website/pixelart1.png" class="pixelart1 mx-auto d-block">
        </div>
        <div>
            <img src="/assets/static-website/pixelart2.png" class="pixelart2">
        </div>
        <div>
            <img src="/assets/static-website/pixelart3.png" class="pixelart3">
        </div>
    </div>
    <div class="col-6 row d-flex justify-content-center font">
        <div class="col-6 div-centered">
            <div class="bottomPadding">
                <h3 class="allAboutText row d-flex align-items-center">
                    All about Ensemble
                </h3>
            </div> 
            <div class="fillerText d-flex align-items-center">
                Ensemble was founded in 2021 and developed by
            </div>
            <div class="fillerText d-flex align-items-center">
                a team driven by passion. The team aims to 
            </div>
            <div class="fillerText d-flex align-items-center">
                improve virtual conventions while maintaining the
            </div>
            <div class="fillerText d-flex align-items-center">
                atmosphere of a real-life convention, allowing for
            </div>
            <div class="fillerText d-flex align-items-center">
                diverse cultures to still interact with one another.
            </div>
            
            <div class="bottomPadding"></div>

            <div class="fillerText d-flex align-items-center">
                Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="fillerText d-flex align-items-center">
                adipiscing elit, sed do eiusmod tempor incididunt 
            </div>
            <div class="fillerText d-flex align-items-center">
                ut labore et dolore magna aliqua. Ut enim ad 
            </div>
            <div class="fillerText d-flex align-items-center">
                minim veniam, quis nostrud exercitation ullamco 
            </div>
            <div class="fillerText d-flex align-items-center">
                laboris nisi ut aliquip ex ea commodo consequat. 
            </div>
            <div class="fillerText d-flex align-items-center">
                Duis aute irure dolor in reprehenderit in voluptate 
            </div>
            <div class="fillerText d-flex align-items-center">
                velit esse cillum dolore eu fugiat nulla pariatur.
            </div>

            <div class="bottomPadding"></div>

            <div class="fillerText d-flex align-items-center">
                Not necessary to fill the whole textbox, can shrink
            </div>
            <div class="fillerText d-flex align-items-center">
                left side images to write lesser for this section
            </div>
        </div>
    </div>
</div>

<div class="backgroundVanilla row justify-content-around align-items-center">
    <div class="row justify-content-center font">
        
        <div class="d-flex justify-content-center align-items-center theTeamText">
            <h3 class="blackFont d-flex justify-content-center align-items-center">
                The team
            </h3>
        </div>
        <div class="container d-flex justify-content-center align-items-center  ">
            <div class="hexagon">
                <div class="hexagon-shape">
                    <img src="/assets/static-website/OliverImage.jpg" alt="">
                    <div class="content row justify-content-center font align-items-center">
                        <div>
                            <div class="memberName d-flex align-items-center">
                                Oliver Goh
                            </div>
                            <div class="memberDesc d-flex align-items-center ">
                                Director of Project Development
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                Hey I'm Oliver, ut labore et dolore magna aliqua. Duis aute irure
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                dolore eu fugiat nulla pariatur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="container d-flex justify-content-center align-items-center  ">
            <div class="hexagon">
                <div class="hexagon-shape">
                    <img src="/assets/static-website/IianImage.jpg" alt="">
                    <div class="content row justify-content-center font text-center">
                        <div>
                            <div class="memberName text-center">
                                Iian Khor
                            </div>
                            <div class="memberDesc text-center">
                                Director of Creative Department
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                Hey I'm Iian, ut labore et dolore magna aliqua. Duis aute irure
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                dolore eu fugiat nulla pariatur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hexagon">
                <div class="hexagon-shape">
                    <img src="/assets/static-website/JaronImage.jpg" alt="">
                    <div class="content row justify-content-center font text-center">
                        <div>
                            <div class="memberName text-center">
                                Jaron Lee
                            </div>
                            <div class="memberDesc text-center">
                                Director of Game Department
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                Hey I'm Jaron, ut labore et dolore magna aliqua. Duis aute irure
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                dolore eu fugiat nulla pariatur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="container d-flex justify-content-center align-items-center  ">
            <div class="hexagon">
                <div class="hexagon-shape">
                    <img src="/assets/static-website/XavierImage.jpg" alt="">
                    <div class="content row justify-content-center font text-center">
                        <div>
                            <div class="memberName text-center">
                                Xavier Eger
                            </div>
                            <div class="memberDesc text-center">
                                Director of Creative Department
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                Hey I'm Xavier, ut labore et dolore magna aliqua. Duis aute irure
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore  
                            </div>
                            <div class="memberInfo d-flex align-items-center">
                                dolore eu fugiat nulla pariatur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>